.navbar-brand img{
    width: 150px;
    height: 90px;
    margin-right: 600px;
}

.carousel-item img{
    height: 700px;

}

.col-md-4 img{
    height: 250px;
    width: 600px;
}



 .contatos{
    display: flex;
    justify-content: center;
 }

 .contatos img{
    width: 60px;
    height: 60px;
   
 }

 .whatts img{
    width: 60px;
    height: 60px;
 }

 .profi img{
   height: 170px ;
 }

 .Loc iframe{
    width: 100%;
 }